
@import 'vendor'
@import 'positions'

// colors

blue = #19B2E0
mid = #a7a7a7
light = #e5e5e5
dark = #4B4B4B
red = #c00

// mixins

border()
  border: 1px solid light

// styles

html
  border-top 5px solid light

body
  position: relative
  margin: 0
  padding: 50px
  font: 12px/1.4 'Helvetica Neue', Helvetica, Arial, sans-serif
  border-top: 1px solid darken(light, 10%)
  color: mid

h1
  position: relative
  font-smoothing: antialiased
  margin: 10px 0
  color: dark

.page
  position: relative
  font-size: 12px
  top: -10px
  right: -5px
  color: light - 25%

a
  text-decoration: none
  color: dark

// items table

table#items
  width: 100%
  border-collapse: collapse
  thead
    tr th
      padding: 10px 10px 10px 0
      color: dark
    tr.actions
      th
        text-align: right
      a#prev
      a#next
        padding: 3px 6px
        border: 1px solid light
        box-shadow: 0 1px 1px 1px light + 15
        transition: box-shadow 0.2s
        &:hover
          color: dark + 50%
          box-shadow: 0 0 5px 1px rgba(blue, 0.5), 0 1px 1px 1px blue
        &:active
        &.active
          box-shadow: 0 1px 2px 0 blue
      a#prev
        border-radius: 3px 0 0 3px
      a#next
        border-radius: 0 3px 3px 0
  tbody
    tr
      border-bottom: 1px solid #eee
      &:last-child
        border-bottom: none
      td
        font-family: arial;
        border-right: 1px solid #eee
        padding 4px 15px
        &:first-child
          text-align: center
          width: 80px
        &:last-child
          text-align: center
          border-right: none
    tr.exception
      td:first-child
        color: red