
vendor(prop, args)
  -webkit-{prop} args
  -moz-{prop} args
  {prop} args

box-shadow()
  vendor('box-shadow', arguments)

border-radius()
  vendor('border-radius', arguments)

user-select()
  -webkit-user-select arguments

font-smoothing()
  -webkit-font-smoothing arguments

transition()
  -webkit-transition arguments